.task-bar-container{
	position: fixed;
	width: 0px;
	height: 92%;
	background-color: gray;
	transition: all 0.5s ease-in-out;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	top: 80px;

}