::-webkit-scrollbar {
	width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #ffffff;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #993333;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #d27979;
	width: 10px;

}


	


@font-face {
	font-family: yekan;
	src: url('irsans.ttf');
}

html * {
	font-family: yekan;
	user-select: none;
}


.about {
	position: relative;
}

.life-route {
	width: 45%;
	height: 500px;
	position: relative;
	top: 40px;
	text-align: right;
	margin-left: 20px;
	overflow: visible;
	user-select: none;
	transition: all .4s;
	overflow: hidden;
	display: inline-block;
	background: #e6ecff;
	color: #e6eeff;
}

.route-head {
	box-shadow: 0px 2px 2px grey;
	height: 65px;
	position: relative;
	top: 0px;
	padding-top: 10px;
	width: 100%;
	background-color: #809fff;
	background-image: url('bgpattern.png');
}

.minimize {
	font-family: material-icons;
	position: absolute;
	top: 1px;
	left: 40px;
	font-size: 2em;
	margin: 10px;
	color: aliceblue;
	cursor: pointer;
}

.more {
	font-family: material-icons;
	position: absolute;
	top: 1px;
	font-size: 2em;
	margin: 10px;
	color: aliceblue;
	cursor: pointer;
}

.point {
	position: absolute;
	left: 10px;
	border-radius: 100%;
	background-color: #5c5cd6;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	transition: all .4s;
	overflow: visible;
	padding-top: 5px;
	color: snow;
}
.point:hover{
	box-shadow: 0px 0px 10px  grey;
}
/* route point locations*/
#p0{
	left: 10%;
	top: 50px;
}
#p1{
	left: 20%;
	top: 95px;
}
#p2{
	left: 40%;
	top: 105px;
}
#p3{
	left: 60%;
	top: 95px;
}	
#p4{
	left: 73%;
	top: 120px;
}
#p5{
	left: 75%;
	top: 200px;
}
#p6{
	left: 60%;
	top: 240px;
}
#p7{
	left: 45%;
	top: 230px;
}
#p8{
	left: 25%;
	top: 240px;
}	
#p9{
	left: 12%;
	top: 300px;
}
#p10{
	left: 15%;
	top: 380px;
}
#p11{
	left: 30%;
	top: 390px;
}
#p12{
	left: 50%;
	top: 370px;
}
#p13{
	left: 66%;
	top: 390px;
}
#p14{
	left: 80%;
	top: 400px;
	width: 50px;
	height: 50px;

	
}
.point14{
	padding-top: 13px;
}
.w3-modal-content{
	background-color: #c2d1f0;
	width: 600px;
	height: 500px;
	border: 5px dashed #99b3ff;
}
.controls{
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #c2d1f0;
	top: 0;
	left: 0;
	right: 0;
}

.add-event-btn{
	padding: 10px;
	background-color: #5353c6;
	color: snow;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: inline;
	position: relative;
	top: 20px;
	left: 20px;
	cursor: pointer;
}
.add-goal-btn, .remove-event-btn, .remove-goal-btn{
	padding: 10px;
	display: inline;
	background-color: #5353c6;
	color: snow;
	border-radius: 5px;
	position: relative;
	top: 20px;
	left: 20px;
	cursor: pointer;


}
.event-text{
	opacity: 0;
	transition: all .4s;
	background-color: #5c5cd6;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	top: -28px;
	left: 30px;
	min-width: 100px;
	max-width: 250px;
	text-align: center;
	display: block;
	word-break: break-all;
	color: #e6eeff



}
.point:hover .event-text{
	opacity: 1;
	top: -30px;

}
#p14 .event-text{
	left: -25px;
	top: -38px;
}
#p14:hover .event-text{
	top: -40px;
	left: -25px;
	
}
.skills {
	display: block;
	width: 45%;
	position: relative;
	top: 60px;
	left: 20px;
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
	transition: height .5s;
	background: #fff9e6;
	color: #806000;

}

.skills-head {
	height: 65px;
	padding-right: 10px;
	padding-bottom: 2px;
	width: 100%;
	position: relative;
	padding-top: 10px;
	top: 0px;
	text-align: right;
	font-size: 2em;
	box-shadow: 0px 2px 2px grey;
	background: #b38600;
	background-image: url('bgpattern.png');
	color: #fff9e6
}
#cntr{
	position: relative;
	left: 20px;
	top: 30px;
}
.skill-instance {
	margin: 20px;
	
}

.skill-type {
	display: inline-block;
	margin: 20px;
}

.skill-container {
	display: inline-block;
	position: relative;
	height: 10px;
	width: 60%;
	background-color: #ffecb3;
	border-radius: 10px;
	margin-left: 15px;


}

.skilled {
	background-color: #997300;
	border-radius: 10px 0px 0px 10px;
	height: 10px
	

}

#minim-skill {

	left: 10px;
	font-size: 1em;
}

.skl1 {
	width: 30%;
	animation: grow;
	animation-duration: 1s;

}

.skl2 {
	width: 10%;
	animation: grow;
	animation-duration: 1s;
}

.skl3 {
	width: 70%;
	animation: grow;
	animation-duration: 1s;
}

.skl4 {
	width: 40%;
	animation: grow;
	animation-duration: 1s;
}

.skl5 {
	width: 60%;
	animation: grow;
	animation-duration: 1s;
}

.skl6 {
	width: 30%;
	animation: grow;
	animation-duration: 1s;
}

@keyframes grow {
	from {
		width: 0%;
	}
	to {
		width: currentWidth;
	}
}


.personal-info {
	position: absolute;
	top: 25px;
	margin: 15px;
	right: 80px;
	width: 45%;

	transition: all .4s;
	height: 500px;
	overflow: hidden;
	background: #ffe6e6;
	


}

.personal-info-head {
	height: 65px;
	text-align: right;
	position: relative;
	display: block;
	padding-top: 10px;
	padding-right: 10px;
	background: #cc0000;
	top: 0px;
	background-image: url('bgpattern.png');
	box-shadow: 0px 2px 2px grey;
	color: #ffe6e6;
}

#minim-info {
	left: 9px;
}

.tastes {
	position: absolute;
	top: 565px;
	overflow: hidden;
	width: 45%;
	display: inline-block;
	height: 500px;
	right: 95px;
	transition: all .4s;
	background: #e6ffe6;
	

}

.tastes-head {
	height: 65px;
	position: relative;
	top: 0px;
	padding-top: 10px;
	text-align: right;
	padding-right: 10px;
	box-shadow: 0px 2px 2px grey;
	background: #006600;
	background-image: url('bgpattern.png');
	color: #e6ffe6;
}

#minim-tastes {
	left: 10px;
}

.info-content {
	direction: rtl;
	position: relative;
	top: 20px;

}
.w3-tag{
	background: #004d00;
	
}

.property-name {
	display: inline;
	margin-right: 20px;
	line-height: 70px;
}

.property-value {
	display: inline;
	background: #fff0e6;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	line-height: 70px;
}

#educational-lable {
	display: none;
	background-color: brown;
	margin-right: 0;
	text-align: center;
	color: snow;
}

#last-degree {
	text-align: center;
	display: block;
	margin: 20px;
	padding: 0;
	line-height: 50px;
	border: none;
}

.degree-list {
	list-style: none;
	position: relative;
	background: #fff0e6;
	border-radius: 0px 0px 8px 8px;
	width: 95%;
	right: 20px;
	height: 158px;
	top: -23px;
	overflow-y: scroll;
	transition: all .4s;
}


.degree-instance {
	line-height: 20px;
	margin: 15px;
	text-align: center;
	
}
.degree-list hr{
	border: 2px solid #b30000;
	position: relative;
	right: -20px;
}


.tastes-content {
	direction: rtl;
	margin: 5px;
	border-radius: 4px;
	padding: 5px;
}
.explanation-tastes{
	text-align: right;
	margin: 20px;
}
