.prof-section-image {
    margin: auto;
    width: 40%;
    padding-top: 20px;
}

.profile-section {
    height: 300px;
    width: 100%;
    margin: 83px auto auto;
    box-sizing: border-box;
    background: url("mycover.jpg");
    text-align: center;
}

.prof-butt-conta { /*the div containing buttons under the profile image*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 30px;
    margin-bottom: 10px;
}

.content-overflow {
    height: 55px;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.p-col-lg-4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
}

.p-col-lg-4-prime {
    width: 33.33333333%;
    height: 285px;
    position: relative;
    min-height: 1px;
}

.phl-panel-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.z-margin {
    margin: 0;
}

.z-margin-b {
    margin-bottom: 0;
}

.tw-margin-b {
    margin-bottom: 20px;
}

.te-margin {
    margin: 10px;
}

.social-avatar-length {
    height: 70px;
}

.z-padding {
    padding: 1px;
}

#timeline-content {
    display: flex;
    justify-content: center;
}

@media all and (max-width: 960px) {
    #timeline-rels {
        display: none;
    }

    .p-col-lg-4 {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .p-col-lg-4-prime {
        width: 50%;
    }
}

.note-editor > div {
    margin-bottom: 30px;
}





















