.right-bar-container{
	position: fixed;
	direction: rtl;
	margin-right: auto;
	height: auto;
	background-color: #00ace6;
	top: 300px;
	width: 55px;
	right: 0;

}
.btn-container{
	position: relative;
	width: 65px;
	height: 70px;
	padding-bottom: 10px;
	border-bottom: 2px solid snow; 
	background-color: inherit;
	cursor: pointer;
	transition: all 0.8s;
}

.btn-container:hover{
	background-color: #99ccff;
}
.btn-container:hover > .right-buttons{
	width: 45px;
	padding-right: 20px;

}
.btn-container:hover > .hdn{
	display: block;
	bottom: 10px;
}

.right-buttons{
	position: relative;
	width: 50px;
	padding-top: 10px;
	padding-right:10px;
	transition: all .6s;
	
    
}
.hdn{
	display: none;
	padding-right: 15px;
	font-size: 1em;
	position: relative;
	bottom: 10px;
	margin-top: 15px;
	

}